body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    background-image: linear-gradient(to right, #f89bb7, #62ddff, #ff3ccef2);
    color: #001;
}
h1{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 3px;
    line-height: 1.5;
}

#count{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 3em;
    letter-spacing: 2.55px;
    color: #001;
}

#increment{
    padding: 20px;
    background: rgb(93, 0, 93);
    color: #eee;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-weight: bolder;
    letter-spacing: 2.55px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.35s ease-in-out;
    width: 250px;
}
#increment:hover{
    background: rgb(255, 0, 255);
    color: #001;
    transform: scale(1.1);
}

#save{
    padding: 20px;
    background: rgb(0, 48, 100);
    color: #eee;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-weight: bolder;
    letter-spacing: 2.55px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: 250px;
    margin-top: 20px;
}

#save:hover{
    background: rgb(0, 100, 255);
    color: #001;
    transform: scale(1.1);
}

#buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#save:active, #increment:active{
    transform: scale(0.9);
}

#allCounts{
    text-align: center;
    letter-spacing: 2.5px;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    color: #004;
    margin-top: 50px;
}

#reset{
    padding: 20px;
    background: rgb(1, 51, 0);
    color: #eee;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-weight: bolder;
    letter-spacing: 2.55px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: 250px;
    margin-top: 20px;
}

#reset:hover{
    background: rgb(0, 255, 68);
    color: #001;
    transform: scale(1.1);
}

#reset:active{
    transform: scale(0.9);
}