body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(pictures/morskie-oko-a-tatry.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.7; /* Adjust this value for desired transparency */
    z-index: -1;
    pointer-events: none;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: bold ;
    font-family: "Montserrat" , sans-serif;
    line-height: 1.80;
}
h1{
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    text-align: center;
    letter-spacing: 5px;
    font-size: 40px;
}
div#span{
    letter-spacing: 4.5px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}
#ampm{
    margin-left: 25px;
    font-size: x-large;
}
#second, #text{
    margin-left: 10px;
}
#minute, #text{
    margin-left: 10px;
}
#hour, #text{
    margin-left: 10px;
}

.container span{
    width: 100px;
    height: 80px;
    background-color: rgb(194, 18, 194);
    color: white;
    opacity: .78;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19.5px;
    box-shadow: 2px 2px 2px rgba(0,0 ,0 , 0.35);
    text-shadow: 2px 2px 4px rgba(0,0 ,0 , 0.35) ;
}
#text{
    background-color: rgb(100, 1, 100);
    opacity: 1;
    letter-spacing: 2px;
}

.container div{
    box-shadow: 2px 2px 2px rgba(0,0 ,0 , 0.35);
}
#ampm{
    font-size: 38px;
    letter-spacing: 3px;
}
#second, #minute, #hour{
    font-size: 40px;
    letter-spacing: 2px;
}